source https://api.nuget.org/v3/index.json
framework: auto-detect

nuget FSharp.Core >= 4.1.17 redirects: force, lowest_matching: true
nuget Microsoft.SourceLink.GitHub prerelease copy_local: true

group Test
  source https://api.nuget.org/v3/index.json
  framework: auto-detect

  nuget Hedgehog
  nuget Hedgehog.Experimental
  nuget Microsoft.NET.Test.Sdk
  nuget TypeShape
  nuget Unquote
  nuget xunit.core
  nuget xunit.runner.visualstudio version_in_path: true

group Build
  storage: none
  source https://api.nuget.org/v3/index.json
  framework: netstandard2.0

  clitool dotnet-fake
  nuget Fake.Core.Target
  nuget Fake.DotNet.Cli
  nuget Fake.DotNet.Paket